/*=============================================
=                   Web Fonts                   =
=============================================*/
/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,500;1,700;1,900&display=swap');
/*============  End of Web Fonts  =============*/


/* fontSets
-------------------------------------------------- */
/* 系統 Roboto 字體字重
  * 100 - 等同於 lighter
  * 400 - 等同於 normal
  * 500 -
  * 600 - 等同於 bold 
*/
/* Google Web Fonts 字體字重
  * https://fonts.google.com/specimen/Roboto?sidebar.open&selection.family=Roboto:ital,wght@1,500;1,700;1,900
  * Light 300
  * Regular 400
  * Medium 500
  * Bold 700
  * Black 900
*/
.font--Roboto-medium-500-italic{
  font-family: 
    'Roboto'
    ,
    Roboto
    ,
    sans-serif
    ;
  font-weight: 500;
  font-style: italic;
}
.font--Roboto-bold-700-italic{
  font-family: 
    'Roboto'
    ,
    Roboto
    ,
    sans-serif
    ;
  font-weight: 700;
  font-style: italic;
}
.font--Roboto-black-900-italic{
  font-family: 
    'Roboto'
    ,
    Roboto
    ,
    sans-serif
    ;
  font-weight: 900;
  font-style: italic;
}
/* End of fontSets
-------------------------------------------------- */



/*=============================================
=            color var            =
=============================================*/
:root{
  --warn: #891818;
  --black: #000000;
  --gray: #707070;
  --white: #FFFFFF;
}
/*=====  End of color var  ======*/



/*=============================================
=                   base                   =
=============================================*/




/* reboot
-------------------------------------------------- */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body{
  background-color: var(--white);
  color: var(--black);
  font-size: 24px;
  /* line-height: 42px; */
  /* font-weight: 100; */
  font-family: 
    'Roboto'
    ,
    Roboto
    ,
    sans-serif
    ;
}
img{
  vertical-align: middle; 
  border-style: none;
  max-width: 100%;
  height: auto;
}
/* End of reboot
-------------------------------------------------- */


/* typography
-------------------------------------------------- */

/*----------  font-size  ----------*/
.fontSize--20{
  font-size: 20px;
}
.fontSize--24{
  font-size: 24px;
}
.fontSize--64{
  font-size: 64px;
}
.fontSize--80{
  font-size: 80px;
}
/*----------  /font-size  ----------*/

/*----------  font-weight  ----------*/

.fontWeight--100{
  font-weight: 100;
}
.fontWeight--400{
  font-weight: 400;
}
.fontWeight--500{
  font-weight: 500;
}
.fontWeight--600{
  font-weight: 600;
}
/*----------  /font-weight  ----------*/

/*----------  font-style  ----------*/
.fontStyle--italic{
  font-style: italic;
}
/*----------  font-style  ----------*/

/* End of typography
-------------------------------------------------- */

/*============  End of base  =============*/




/*=============================================
=                   Block                   =
=============================================*/
.vision{
  /* height: 100vh; */
  min-height: 100vh;
  /* max-height: 958px; */
}
.vision--bg{
  background-position: center;
  background-size: auto 100%;
  background-size: cover;
  background-image: url('././../img/vision_bg.png');
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi){
  .vision--bg{
    background-image: url('././../img/vision_bg@2x.png');
  }
}
.vision__inner{
  width: 308px;
}

.about{
  max-width: 412px;
  padding-top: 64px;
  padding-bottom: 56px;
}

.workList{
  position: relative;
}

/* 
  * 使用 .workList--pseudoBg::before 的偽元素背景圖方式，只能與 .workList--bg 元素容器內背景方式，只能選一種使用。
  * 二種效果都一樣，在於容器控制的尺寸。
  * .workList--pseudoBg::before 的偽元素背景圖方式注意 z 層，可使用 z-index: -1; 屬性，但不能與 bgc 背景色混用，在祖層的 body 之下，相對的在 body 下 bgc 都會被蓋過。
*/
.workList--bg{
  background-color: var(--width);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: auto 101%;
  background-size: cover;
  background-image: url('././../img/otherWorks_bg.png');
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi){
  .workList--bg{
    background-image: url('././../img/otherWorks_bg@2x.png');
  }
}

.workList--pseudoBg::before{
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 101% auto;
  background-size: cover;
  background-image: url('././../img/otherWorks_bg.png');
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi){
  .workList--pseudoBg::before{
    background-image: url('././../img/otherWorks_bg@2x.png');
  }
}

.workList__inner{
  position: relative;
  top: -80px;
}


/*============  End of Block  =============*/





/*=============================================
=                   layout                   =
=============================================*/

/* grid
-------------------------------------------------- */
.l-container--full{
  padding-left: 24px;
  padding-right: 24px;
}
.l-container{
  max-width: 1200px;
  margin: 0 auto;
}
.l-row{
  margin-left: -12px;
  margin-right: -12px;
}
/* End of grid
-------------------------------------------------- */


/*============  End of layout  =============*/





/*=============================================
=                   component                   =
=============================================*/

.c-centerList{
}
.c-centerList li{
  margin-bottom: 32px;
  display: inline-block;
}
.c-centerList li::before{
  content: " ";
  display: inline-block;
  width: 22px;
  height: 22px;
  border-radius: 11px;
  background-color: var(--warn);
  margin-right: 16px;
  vertical-align: middle;
}

/*============  End of component  =============*/






/*=============================================
=            utils            =
=============================================*/

/* other
-------------------------------------------------- */

.u-listLiLate-mb--0 li:last-child{
  margin-bottom: 0;
}

/* End of other
-------------------------------------------------- */


/* Colors
-------------------------------------------------- */

/*----------  bg-color  ----------*/
.u-bg--warn{
  background-color: var(--warn);
}
.u-bg--black{
  background-color: var(--black);
}
.u-bg--gray{
  background-color: var(--gray);
}
.u-bg--white{
  background-color: var(--white);
}
/*----------  /bg-color  ----------*/

/*----------  text-color   ----------*/
.u-text--warn{
  color: var(--warn);
}
.u-text--black{
  color: var(--black);
}
.u-text--gray{
  color: var(--gray);
}
.u-text--white{
  color: var(--white);
}
/*----------  /text-color   ----------*/


/*----------  link  ----------*/
a.u-link--white{
  color: var(--white);
  text-decoration: none;
}
a.u-link--white:hover{
  color: var(--warn);
}
/*----------  /link  ----------*/


/* End of Colors
-------------------------------------------------- */


/* Borders
-------------------------------------------------- */
.u-border{
  border: 1px solid;
}
.u-border--gray{
  border-color: var(--gray);
}
/* End of Borders
-------------------------------------------------- */


/* Text
-------------------------------------------------- */

/*----------  text-align  ----------*/
.u-textAlign--center{
  text-align: center;
}
.u-textAlign--left{
  text-align: left;
}
.u-textAlign--right{
  text-align: right;
}
/*----------  /text-align  ----------*/

/*----------  vertical-align  ----------*/
.u-verticalAlign--middle{
  vertical-align: middle;
}
/*----------  /vertical-align  ----------*/

/* End of Text
-------------------------------------------------- */


/* line-height
-------------------------------------------------- */

.u-lineHeight--24{
  line-height: 24px;
}
.u-lineHeight--28{
  line-height: 28px;
}
.u-lineHeight--32{
  line-height: 32px;
}
.u-lineHeight--33{
  line-height: 33px;
}
.u-lineHeight--36{
  line-height: 36px;
}
.u-lineHeight--40{
  line-height: 40px;
}
.u-lineHeight--42{
  line-height: 42px;
}
.u-lineHeight--75{
  line-height: 75px;
}
.u-lineHeight--94{
  line-height: 94px;
}

/* End of line-height
-------------------------------------------------- */


/* DisPlay
-------------------------------------------------- */

.u-d--inlineBlock{
  display: inline-block;
}
.u-d--block{
  display: block;
}
.u-d--inline{
  display: inline;
}
.u-d--flex{
  display: flex;
}

/* End of DisPlay
-------------------------------------------------- */



/* flex
-------------------------------------------------- */

/*----------  flex-direction  ----------*/
.u-flexDirection--row {
  flex-direction: row;
}
.u-flexDirection--column {
  flex-direction: column;
}
.u-flexDirection--rowReverse {
  flex-direction: row-reverse;
}
.u-flexDirection--columnReverse {
  flex-direction: column-reverse;
}
/*----------  flex-direction  ----------*/

/*----------  flexWrap  ----------*/
.u-flexWrap--nowrap {
  flex-wrap: nowrap;
}

.u-flexWrap--wrap {
  flex-wrap: wrap;
}
/*----------  /flexWrap  ----------*/

/*----------  justify-content  ----------*/
.u-justifyContent--flexStart {
  justify-content: flex-start;
}
.u-justifyContent--center {
  justify-content: center;
}
.u-justifyContent--flexEnd {
  justify-content: flex-end;
}
.u-justifyContent--spaceAround {
  justify-content: space-around;
}
.u-justifyContent--spaceBetween {
  justify-content: space-between;
}
.u-justifyContent--spaceEvenly {
  justify-content: space-evenly;
}
/*----------  /justify-content  ----------*/

/*----------  align-items  ----------*/
.u-alignItems--flexStart {
  align-items: flex-start;
}
.u-alignItems--flexEnd {
  align-items: flex-end;
}
.u-alignItems--center {
  align-items: center;
}
.u-alignItems--stretch {
  align-items: stretch;
}
/*----------  /align-items  ----------*/

/*----------  align-self  ----------*/
.u-alignSelf--center{
  align-self: center;
}
/*----------  /align-self  ----------*/

/* End of flex
-------------------------------------------------- */



/* spacing
-------------------------------------------------- */

/*----------  margin  ----------*/
.u-mt--0{
  margin-top: 0px;
}
.u-mb--8{
  margin-bottom: 8px;
}
.u-mb--12{
  margin-bottom: 12px;
}
.u-mb--16{
  margin-bottom: 16px;
}
.u-mb--18{
  margin-bottom: 18px;
}
.u-mb--20{
  margin-bottom: 20px;
}
.u-mb--22{
  margin-bottom: 22px;
}
.u-mb--24{
  margin-bottom: 24px;
}
.u-mb--32{
  margin-bottom: 32px;
}
.u-mb--40{
  margin-bottom: 40px;
}
.u-mb--48{
  margin-bottom: 48px;
}
.u-mb--56{
  margin-bottom: 56px;
}
.u-mb--80{
  margin-bottom: 80px;
}
.u-mb--128{
  margin-bottom: 128px;
}
.u-mt--neg-80{
  margin-top: -80px;
}

.u-mx--12{
  margin-left: 12px;
  margin-right: 12px;
}
.u-mx--neg-12{
  margin-left: -12px;
  margin-right: -12px;
}
.u-mx--14{
  margin-left: 14px;
  margin-right: 14px;
}
.u-mx--auto{
  margin-left: auto;
  margin-right: auto;
}
/*----------  /margin  ----------*/


/*----------  padding  ----------*/
.u-px--10{
  padding-left: 10px;
  padding-right: 10px;
}
.u-px--12{
  padding-left: 12px;
  padding-right: 12px;
}
.u-pt--64{
  padding-top: 64px;
}
.u-pt--100{
  padding-top: 100px;
}

.u-pb--26{
  padding-bottom: 26px;
}
.u-pb--80{
  padding-bottom: 80px;
}
.u-pb--106{
  padding-bottom: 106px;
}

/*----------  /padding  ----------*/


/*----------  Size  ----------*/
.u-minH--100vh{
  min-height: 100vh;
}
.u-minW--100vw{
  min-width: 100vw;
}
/*----------  Size  ----------*/


/* End of spacing
-------------------------------------------------- */



/*=====  End of utils  ======*/






